@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset / base minimal pour ton app */
:root {
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", "Segoe UI", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617; /* slate-950 */
}